$letterspacing: 0.9rem / 1.4;


:root {
  --footerHeight: 7vh;
}





.Projects {
  // height: 100%;
  // background: #131315;
  // background: orange;
  // border-top: white solid 1px;
  text-align: center;
  color: white;
  padding-bottom: 3.4em;

  h1 {
    font-size: 2em;
    letter-spacing: $letterspacing;
    padding-top: 1em;
    // position: relative;
    // top: 1.8em;
  }
  

  h1, div {
    z-index: 1;
    position: relative;
  }
}







.project {
  // background:#131315;
  // border-radius: 4%;
  // height: 17em;
  // min-width: 17em;
  margin: 1em 0.7em;
  padding: 1em;
  // box-shadow: 5px 5px 10px 2px black;
  // border: solid orange 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.projectReverse {
  // border: solid lavender 1px;
  margin: 1em 0.7em;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.projectImage {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
  margin: 1em auto;

  // &:hover {
  //   transform: scale(1.1);
  //   cursor: pointer;
  // }
}

.talo {
  // height: 75%;
  // width: 75%;
}


// .kelp {
//   background-image: url("../../public/project_images/kelp-mobile.png");
//   background-size: cover;
//   background-position: top;
//   background-repeat: no-repeat;
// }

// .goodreads {
//   background-image: url("../../public/project_images/goodreads.png");
//   background-size: cover;
//   background-position: left;
//   background-repeat: no-repeat;
// }

// .triplebyte {
//   background-image: url("../../public/project_images/triplebyte.png");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }


.projectText {
  // border: solid pink 1px;
  max-width: 350px;
  // width: 40%;
  // margin-top: 1em;
  // max-width: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  h2 {
    // font-size: 1.5em;
    letter-spacing: $letterspacing / 1.5;
    line-height: 1.4;
  }

  p {
    // border: solid white 1px;
    width: 100%;
    // width: 17em;
    font-size: 1.1em;
    // padding: 1.2em 2em;
    letter-spacing: $letterspacing / 15;
    line-height: 1.6;
  }

  a {
    // border: solid 1px gold;
    width: 100%;
  }

  .caseStudyButton {
    
  }

  button {
    padding: 0.5em;
    color: whitesmoke;
    // color: #131315;
    background-color: rgb(0, 166, 255);
    // background-color: #61DAFB;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: large;
    font-family: 'Actor', sans-serif;
    transition: all ease 0.2s;
    cursor: pointer;

    &:hover {
      background: rgb(0, 195, 255);
    }
    &:active {
      background-color: gray;
    }
  }

}



/* MOBILE */
.getInTouchContainer {
  display: flex;
  justify-content: center;
  // background: green;
  height: var(--footerHeight);
  // position: relative;
  margin-top: -1em;
  // top: 5em;
  // border: green solid 1px;
  user-select: none;
}

.getInTouch {
  // border: yellow solid;
  padding-top: 1.5em;
  font-size: 20px;
  letter-spacing: $letterspacing / 2.3;
  // color: white;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;

  .getInTouch-arrow {
    // border: solid yellow 1px;
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // top: 10px;

    .getInTouch-arrow-down {
      border-bottom: white solid 1.5px;
      transform: rotate(90deg);
      width: 25px;
      position: relative;
      top: 11px;
      right: 2.2px

    }

    .getInTouch-arrow-square {
      width: 20px;
      height: 20px;
      border-right: white solid 2px;
      border-bottom: white solid 2px;
      transform: rotate(45deg);
    }
  }

  ::selection {
    background: none;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}





// /* DESKTOP */
// .getInTouchContainer {
//   display: flex;
//   justify-content: center;
//   padding-top: 2em;
//   // background: green;
//   height: var(--footerHeight);
// }

// .getInTouch {
//   // border: yellow solid;
//   position: relative;
//   font-size: 18px;
//   letter-spacing: $letterspacing / 2.3;
//   color: white;
//   z-index: 10;
//   text-decoration: none;
//   transition: all 0.3s ease;

//   .getInTouch-arrow {
//     // border: solid yellow 1px;
//     position: relative;
//     width: 15%;
//     display: flex;
//     flex-direction: column;
//     margin: 0 auto;
//     top: 15px;

//     .getInTouch-arrow-down {
//       border-bottom: white solid 1.5px;
//       transform: rotate(90deg);
//       width: 25px;
//       position: relative;
//       top: 11px;
//       right: 2.2px

//     }

//     .getInTouch-arrow-square {
//       width: 20px;
//       height: 20px;
//       border-right: white solid 2px;
//       border-bottom: white solid 2px;
//       transform: rotate(45deg);
//     }
//   }

//   &:hover {
//     opacity: 0.5;
//   }
// }


























/* MOBILE */
/* MOBILE */
/* MOBILE */
@media screen and (min-height: 1px) and (max-height: 700px) {
  .Projects {
    height: 100%;
  }
}





// @mixin projectsPage() {
//   // min-height: 100vh;
//   height: calc(100vh - var(--footerHeight));
//   width: auto;
// }

//   /* ORIGINAL */
//   /* DESKTOP VIEW */
//   /* DESKTOP VIEW */
//   /* DESKTOP VIEW */

// @media screen and (min-width: 1024px) {

//   .Projects {
//     background: #131315;
//     // background: lightgrey;
//     // border-top: white solid 1px;
//     text-align: center;
//     color: white;
//     // height: 100vh;
  
//     h1 {
//       font-size: 2em;
//       letter-spacing: $letterspacing;
//       padding-top: 3em;
//     }
    
//     .projectsContainer {
//       margin: 0em 0;
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-evenly;
//       padding-top: 2em;
  
//       .project {
//         background: #181818;
//         box-shadow: 5px 5px 10px 2px black;
//         border-radius: 4%;
//         min-width: 17em;
//         margin: 0em auto;

  
//         .projectImage {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           min-height: 15em;
//           transition: all ease 0.3s;
//           background:  hsla(250, 70, 65, 0.9);
//           margin: 1em;
  
//           &:hover {
//             transform: scale(1.06);
//             cursor: pointer;
//           }
//         }
  
//         .kelp {
//           background-image: url("../images/kelp-mobile.png");
//           background-size: cover;
//           background-position: top;
//           background-repeat: no-repeat;
//         }

//         .goodreads {
//           background-image: url("../images/goodreads.png");
//           background-size: cover;
//           background-position: left;
//           background-repeat: no-repeat;
//         }

//         .triplebyte {
//           background-image: url("../images/triplebyte.png");
//           background-size: cover;
//           background-position: center;
//           background-repeat: no-repeat;
//         }

//         .projectText {
//           margin-top: 1em;
//           max-width: 17em;
//           display: flex;
//           flex-direction: column;
//           align-items: center;
  
//           h2 {
//             font-size: 1.5em;
//             letter-spacing: $letterspacing / 1.5;
//             line-height: 1.1;
//           }
//           p {
//             // border: solid white 1px;
//             width: 17em;
//             font-size: 1.1em;
//             padding: 1.2em 2em;
//             letter-spacing: $letterspacing / 15;
//             line-height: 1.1;
//           }
//         }
//       }
//     }
  
  
//     h1, div {
//       z-index: 1;
//       position: relative;
//     }
//   }
  
  
// }














// // HORIZONTAL y-axis query

// @media screen and (max-height: 900px) {
//   .Projects {
//     // border-top: white solid 1px;
//     text-align: center;
//     color: white;
//     min-height: 100vh;
  
//     h1 {
//       font-size: 2em;
//       letter-spacing: $letterspacing;
//       padding-top: 1.5em;
//     }
    
//     .projectsContainer {
//       margin: 0.5em 0;
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-evenly;
//       padding-top: 0em;
  
//       .project {
//         // background: hsla(200, 40, 15, 0.9);
//         background: #181818;
//         box-shadow: 5px 5px 10px 2px black;
//         border-radius: 4%;
//         min-width: 17em;
//         margin: 0.5em auto;

  
//         .projectImage {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           min-height: 15em;
//           transition: all ease 0.3s;
//           background:  rgba(210, 105, 107, 0.9);
//           margin: 0.5em;
  
//           &:hover {
//             transform: scale(1.06);
//             cursor: pointer;
//           }
//         }

//         .kelp {
//           background-image: url("../images/kelp-mobile.png");
//           background-size: cover;
//           background-position: top;
//           background-repeat: no-repeat;
//         }
  
//         .goodreads {
//           background-image: url("../images/goodreads.png");
//           background-size: cover;
//           background-position: left;
//           background-repeat: no-repeat;
//         }

//         .triplebyte {
//           background-image: url("../images/triplebyte.png");
//           background-size: cover;
//           background-position: center;
//           background-repeat: no-repeat;
//         }

//         .projectText {
//           margin-top: 1em;
//           min-width: 17em;
//           display: flex;
//           flex-direction: column;
//           align-items: center;
  
//           h2 {
//             font-size: 1.5em;
//             letter-spacing: $letterspacing / 1.5;
//             line-height: 1.1;
//           }
//           p {
//             // border: solid white 1px;
//             width: 17em;
//             font-size: 1.1em;
//             padding: 0.5em 1em 0em 1em;
//             letter-spacing: $letterspacing / 15;
//             line-height: 1.2;
//           }
//         }
//       }
//     }
  
//     h1, div {
//       z-index: 1;
//       position: relative;
//     }
//   }

  
// }