:root {
  --footerHeight: 7vh;
}

.Projects {
  text-align: center;
  color: white;
  padding-bottom: 3.4em;
}

.Projects h1 {
  font-size: 2em;
  letter-spacing: 0.64286rem;
  padding-top: 1em;
}

.Projects h1, .Projects div {
  z-index: 1;
  position: relative;
}

.project {
  margin: 1em 0.7em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectReverse {
  margin: 1em 0.7em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin: 1em auto;
}

.projectText {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.projectText h2 {
  letter-spacing: 0.42857rem;
  line-height: 1.4;
}

.projectText p {
  width: 100%;
  font-size: 1.1em;
  letter-spacing: 0.04286rem;
  line-height: 1.6;
}

.projectText a {
  width: 100%;
}

.projectText button {
  padding: 0.5em;
  color: #131315;
  background-color: whitesmoke;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: large;
  font-family: 'Actor', sans-serif;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
}

.projectText button:hover {
  background: #bbbbbb;
}

.projectText button:active {
  background-color: gray;
}

/* MOBILE */
.getInTouchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: var(--footerHeight);
  margin-top: -1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.getInTouch {
  padding-top: 1.5em;
  font-size: 20px;
  letter-spacing: 0.2795rem;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.getInTouch .getInTouch-arrow {
  position: relative;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.getInTouch .getInTouch-arrow .getInTouch-arrow-down {
  border-bottom: white solid 1.5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 25px;
  position: relative;
  top: 11px;
  right: 2.2px;
}

.getInTouch .getInTouch-arrow .getInTouch-arrow-square {
  width: 20px;
  height: 20px;
  border-right: white solid 2px;
  border-bottom: white solid 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.getInTouch ::-moz-selection {
  background: none;
}

.getInTouch ::selection {
  background: none;
}

.getInTouch:hover {
  text-decoration: none;
  opacity: 0.5;
}

/* MOBILE */
/* MOBILE */
/* MOBILE */
@media screen and (min-height: 1px) and (max-height: 700px) {
  .Projects {
    height: 100%;
  }
}
/*# sourceMappingURL=Projects.css.map */