.rectContainer {
  animation: animateRects 0.9s ease 0.5s backwards normal;
  position: absolute;
  top: 0;
  right: 0;
}

.rectangle {
  height: 100%;
  width: 110%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, hsla(0, 0%, 25%, 0.8), #2C2C2C);
  box-shadow: 12px 12px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

@keyframes animateRects {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: 0%;
    opacity: 1;
  }
}
@keyframes rotate1 {
  8% {
    transform: rotate(360deg) scale(0.83, 0.77) translate(4%, 4%);
  }
  66% {
    box-shadow: -10px 15px 3px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: rotate(360deg) scale(0.83, 0.77) translate(3%, 0%);
    box-shadow: -20px 20px 3px rgba(0, 0, 0, 0.5);
  }
}
@keyframes rotate2 {
  8% {
    transform: rotate(360deg) scale(0.83, 0.77) translate(5%, 0%);
  }
  66% {
    box-shadow: -10px 15px 3px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: rotate(360deg) scale(0.83, 0.77) translate(5%, -3%);
    box-shadow: -20px 20px 3px rgba(0, 0, 0, 0.5);
  }
}
@keyframes rotate3 {
  8% {
    transform: rotate(360deg) scale(0.83, 0.77) translate(6%, -4%);
  }
  66% {
    box-shadow: -10px 15px 3px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: rotate(360deg) scale(0.83, 0.77) translate(7%, -6%);
    box-shadow: -20px 20px 3px rgba(0, 0, 0, 0.5);
  }
}
.rect1 {
  transform: translate(15%, -22%) rotate(-7deg);
  position: fixed;
  animation: rotate1 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1.28s);
}

.rect2 {
  transform: translate(12%, -25%) rotate(-7deg);
  position: fixed;
  animation: rotate2 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1.28s);
}

.rect3 {
  transform: translate(9%, -28%) rotate(-7deg);
  position: fixed;
  animation: rotate3 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1.28s);
}

.rect4 {
  animation: animateRects 0.9s ease 0.4s backwards normal;
  -webkit-animation: animateRects 0.9s ease 0.4s backwards normal;
  -moz-animation: animateRects 0.9s ease 0.4s backwards normal;
  -ms-animation: animateRects 0.9s ease 0.4s backwards normal;
  -o-animation: animateRects 0.9s ease 0.4s backwards normal;
  transform: translate(15%, -22%) rotate(-7deg);
  -webkit-transform: translate(15%, -22%) rotate(-7deg);
}

.rect5 {
  animation: animateRects 0.9s ease 0.6s backwards normal;
  -webkit-animation: animateRects 0.9s ease 0.6s backwards normal;
  -moz-animation: animateRects 0.9s ease 0.6s backwards normal;
  -ms-animation: animateRects 0.9s ease 0.6s backwards normal;
  -o-animation: animateRects 0.9s ease 0.6s backwards normal;
  transform: translate(12%, -25%) rotate(-7deg);
  -webkit-transform: translate(12%, -25%) rotate(-7deg);
}

.rect6 {
  animation: animateRects 0.9s ease 0.8s backwards normal;
  -webkit-animation: animateRects 0.9s ease 0.8s backwards normal;
  -moz-animation: animateRects 0.9s ease 0.8s backwards normal;
  -ms-animation: animateRects 0.9s ease 0.8s backwards normal;
  -o-animation: animateRects 0.9s ease 0.8s backwards normal;
  transform: translate(9%, -28%) rotate(-7deg);
  -webkit-transform: translate(9%, -28%) rotate(-7deg);
}

@media screen and (min-width: 1024px) {
  .rectContainer {
    position: absolute;
    top: 0;
    right: 0;
  }
  .rectangle {
    height: 100%;
    width: 110%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.5);
  }
  @keyframes rotate1 {
    10% {
      transform: rotate(360deg) scale(0.83, 0.77) translate(4%, 4%);
    }
    66% {
      box-shadow: -10px 15px 3px rgba(0, 0, 0, 0.5);
    }
    100% {
      transform: rotate(360deg) scale(0.83, 0.77) translate(3%, 0%);
      box-shadow: -20px 20px 3px rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes rotate2 {
    10% {
      transform: rotate(360deg) scale(0.83, 0.77) translate(5%, 0%);
    }
    66% {
      box-shadow: -10px 15px 3px rgba(0, 0, 0, 0.5);
    }
    100% {
      transform: rotate(360deg) scale(0.83, 0.77) translate(5%, -3%);
      box-shadow: -20px 20px 3px rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes rotate3 {
    10% {
      transform: rotate(360deg) scale(0.83, 0.77) translate(6%, -4%);
    }
    66% {
      box-shadow: -10px 15px 3px rgba(0, 0, 0, 0.5);
    }
    100% {
      transform: rotate(360deg) scale(0.83, 0.77) translate(7%, -6%);
      box-shadow: -20px 20px 3px rgba(0, 0, 0, 0.5);
    }
  }
  .rect1 {
    transform: translate(15%, -22%) rotate(-7deg);
    position: fixed;
    animation: rotate1 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1.3s);
  }
  .rect2 {
    transform: translate(12%, -25%) rotate(-7deg);
    position: fixed;
    animation: rotate2 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1.3s);
  }
  .rect3 {
    transform: translate(9%, -28%) rotate(-7deg);
    position: fixed;
    animation: rotate3 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1.3s);
  }
  .rect4 {
    animation: animateRects 0.9s ease 0.4s backwards normal;
    -webkit-animation: animateRects 0.9s ease 0.4s backwards normal;
    -moz-animation: animateRects 0.9s ease 0.4s backwards normal;
    -ms-animation: animateRects 0.9s ease 0.4s backwards normal;
    -o-animation: animateRects 0.9s ease 0.4s backwards normal;
    transform: translate(15%, -22%) rotate(-7deg);
    -webkit-transform: translate(15%, -22%) rotate(-7deg);
  }
  .rect5 {
    animation: animateRects 0.9s ease 0.6s backwards normal;
    -webkit-animation: animateRects 0.9s ease 0.6s backwards normal;
    -moz-animation: animateRects 0.9s ease 0.6s backwards normal;
    -ms-animation: animateRects 0.9s ease 0.6s backwards normal;
    -o-animation: animateRects 0.9s ease 0.6s backwards normal;
    transform: translate(12%, -25%) rotate(-7deg);
    -webkit-transform: translate(12%, -25%) rotate(-7deg);
  }
  .rect6 {
    animation: animateRects 0.9s ease 0.8s backwards normal;
    -webkit-animation: animateRects 0.9s ease 0.8s backwards normal;
    -moz-animation: animateRects 0.9s ease 0.8s backwards normal;
    -ms-animation: animateRects 0.9s ease 0.8s backwards normal;
    -o-animation: animateRects 0.9s ease 0.8s backwards normal;
    transform: translate(9%, -28%) rotate(-7deg);
    -webkit-transform: translate(9%, -28%) rotate(-7deg);
  }
}/*# sourceMappingURL=Rectangles.module.css.map */