$letterspacing: 0.9rem;

@mixin contactPage() {
  height: calc(100vh - var(--footerHeight));
  width: auto;
}

:root {
  --footerHeight: 7vh;
}



.Contact {
  // text-align: center;
  margin: 0 auto;
  scroll-snap-align: start;
  color: white;
  // @include contactPage();
  // border-top: white solid 1px;
  // border: greenyellow solid 1px;
  background-color: #131315;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;

  // padding-top: 3em;

  h1, form, div {
    z-index: 1;
    position: relative;
    // padding: 1.3em;
  }

  h1 {
    font-size: 2em;
    letter-spacing: $letterspacing / 1.4;
    margin-top: 3em;
    // position: relative;
    // top: 2em;
    width: 50vw;
    text-align: center;
    // border: palegoldenrod solid 1px;
  }

  form {
    top: 3em;
    color: white;
    width: 70vw;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 40% 40%;
    // height: 100vh;
  
    .inputs {
      // grid-column: 1 / 2;
      // border: solid salmon 1px;

      label {
        margin-top: 1.1em;
        margin-bottom: 0.5em;
        letter-spacing: $letterspacing / 2;
        font-size: 1.2em;
        font-weight: bold;
      }

    }
    .aboutMe {
      // border: solid salmon 1px;
      // grid-column: 2 / -1;
      font-size: 1.3em;
      letter-spacing: $letterspacing / 4;
      line-height: 1.2;

      h2 {
        margin-top: 0.65em;
      }
      p, h2 {
        padding-bottom: 1em;
        // padding-left: 1em;
      }
      // width: 20em;
      // border: solid gainsboro 1px;
      // max-height: 15em;
      // overflow-y: scroll;
    }
    .textArea {
      // grid-column: 1 / -1;
      display: flex;
      margin-top: 2em;
      
      textarea {
        height: 13em;
      }

      input {
        margin: 0.5em auto;
        width: 7em;
        height: 2em;
        font-size: 1.5em;
        font-weight: bolder;
        // border: solid red 1px;
        border: none;
        transition: all ease 0.2s;
        outline: 0;
        position: relative;
        z-index: 100;

        &:active {
          transform: scale(0.9);
          
        }
      }
    }
  
    .inputs, .textArea {
      display: flex;
      flex-direction: column;
    }
    textarea, input {
      font-size: 1em;
      border: none;
    }
  }
  
}


.backToTopContainer {
  // border: chartreuse solid 1px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
  top: 3em;

  .backToTop {
    // border: yellow solid;
    // top: 3em;
    // bottom: 7%;
    // font-size: 0.9em;
    position: relative;
    z-index: -1;
    font-size: 18px;
    letter-spacing: $letterspacing / 2.3;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    user-select: none;
  
    .arrow {
      // border: solid yellow 1px;
      width: 15%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      position: relative;
      top: 10px;
  
  
      .arrow-up {
        border-bottom: white solid 1.5px;
        transform: rotate(90deg);
        width: 25px;
        position: relative;
        top: 11px;
        right: 2.1px;
      }
  
      .arrow-square {
        width: 20px;
        height: 20px;
        border-right: white solid 2px;
        border-bottom: white solid 2px;
        transform: rotate(225deg);
      }
    }
  }
}




footer {

  img {
    display: inline;
    margin-top: 0;
  }

  color: white;
  background-color: #131315;
  width: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  // margin-top: 10em;
  z-index: 10;
  position: relative;
  // justify-content: space-around;
  // align-items: center;
  // border: mediumturquoise solid 1px;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // border: solid white 2px;

  .footerLeftSpace {
    // border: palegoldenrod solid 1px;
    content: "";
  }

  .copyright {
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    padding: 0.3em 0em 1.5em 0em;
    // border: palegoldenrod solid 1px;
    letter-spacing: $letterspacing / 4;
    font-size: 0.9em;

  }
  
  .socialIcons {
    // border: palegoldenrod solid 1px;
    padding-top: 0.5em;

    ul {
      padding: 0;
      display: flex;
      // border: #61DAFB solid 1px;
      
      li {
        // border: gold solid 1px;
        list-style: none;
        padding: 0 2em;
        position: relative;
        z-index: 5;
      }
    }
  }
}








.inputs input {
  height: 3em;
  padding: 1em;
  color: black;
  border: none;
}

.textArea textarea {
  padding: 1em;
  font-family: inherit;
  color: black;
}

.textArea .sendButton {
  background-color: #61DAFB;
  color: white;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}












/* DESKTOP DESIGN */
@media screen and (min-width: 1024px) {

  @media screen and (min-height: 1px) and (max-height: 700px) {
    .Contact {
      // height: 750px !important;
      height: 100% !important;
      margin-top: 10% !important;
    }
  }
  
  .Contact {
    @include contactPage();
    scroll-snap-align: start;
    color: white;
    // border: orange solid 1px;

  
    h1 {
      position: relative;
      top: 1em;
    }
  
    form {
      padding-top: 1.5em;
      // border: solid green 1px;
      color: white;
      width: 65vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    
      .inputs {
        grid-column: 1;
        grid-row: 1 / 2;
        // border: solid salmon 1px;
        padding: 0 1em;
  
        label {
          margin-top: 1em;
          margin-bottom: 0.5em;
          letter-spacing: $letterspacing / 2;
          font-size: 1.2em;
          font-weight: bold;
        }
  
      }
      .aboutMe {
        // border: solid salmon 1px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 1.3em;
        letter-spacing: $letterspacing / 4;
        line-height: 1.2;
        padding-left: 1em;
  
        h2 {
          font-size: 1.2em;
          padding-bottom: 0;
        }

        p {
          padding: 0;
        }

      }
      .textArea {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        display: flex;
        padding: 0 1em;
        
        textarea {
          width: 100%;
          height: 7em;
        }

        input {
          margin: 0.5em auto;
          width: 7em;
          height: 2em;
          font-size: 1.5em;
          font-weight: bolder;
          border: none;
          transition: all ease 0.2s;
          outline: 0;
  
          &:hover {
            // transform: scale(1.1);
            color: black;
            background: gainsboro;
          }
  
          &:active {
            transform: scale(0.9);
            
          }
        }
      }
    }
  }
  
  

  .backToTopContainer {
    // border: chartreuse solid 1px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0em 9em;
  
    .backToTop {
      // border: yellow solid;
      // top: -2em;
      // bottom: 7%;
      // font-size: 0.9em;
      position: relative;
      z-index: 1;
      font-size: 1.1em;
      letter-spacing: $letterspacing / 2.3;
      color: white;
      text-decoration: none;
      transition: all 0.3s ease;
      user-select: none;
    
      .arrow {
        // border: solid yellow 1px;
        width: 15%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
        top: 10px;
    
    
        .arrow-up {
          border-bottom: white solid 1.5px;
          transform: rotate(90deg);
          width: 25px;
          position: relative;
          top: 11px;
          right: 2.1px;
        }
    
        .arrow-square {
          width: 20px;
          height: 20px;
          border-right: white solid 2px;
          border-bottom: white solid 2px;
          transform: rotate(225deg);
        }
      }
    
      &:hover {
        opacity: 0.5;
      }
    }
  }



  
  
  footer {
    color: white;
    background-color: transparent;
    // background-color: green;
    // height: var(--footerHeight);
    width: auto;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    // border: solid white 2px;
  
    .footerLeftSpace {
      // border: rgb(246, 150, 255) solid 1px;
      content: "";
      grid-template: 1 / 2;
      width: 100%;
    }
  
    .copyright {
      margin: 0 auto;
      padding: 0.4em;
      // border: palegoldenrod solid 1px;
      letter-spacing: $letterspacing / 4;
      font-size: 0.9em;
      width: 100%;
      grid-template: 2 / 3;
    }
    
    .socialIcons {
      // margin: 0.3em auto;
      // padding: 0.5em;
      // border: palegoldenrod solid 1px;
      grid-template: 3 / 4;
      width: 100%;
      ul {
        display: flex;
        justify-content: center;
        
        li {
          // border: gold solid 1px;
          list-style: none;
          padding: 0.3em 1.5em;
          position: relative;
          z-index: 5;
        }
      }
    }
  }



  
}
