@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

.container {
  /* max-width: 80rem; */
  padding: 0 0rem;
  margin: 3rem auto 0em;
  /* border: greenyellow 1px solid; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 3rem 0;
}



.App__logo {
  /* pointer-events: none; */
  position: absolute;
  top: 0%;
  left: 1em;
  z-index: 10;
  width: 80px;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
.sj {
  font-family: 'Caveat';
  font-size: 3em;
  font-weight: 100;
  /* border: green solid 1px; */
}



@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }
  
}