/* ================================================================ */
/* App.scss */
/* ================================================================ */


@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

// *, html {
//   font-family: 'Actor', sans-serif;
//   scroll-behavior: smooth;
// }

// body {
//   background-color: #131315;
// }

// ::selection {
//   background: mediumaquamarine;
// }


$letterspacing: 0.9rem;

@mixin fadeInAnimate() {
  animation: fadein 0.9s ease 1.5s backwards normal;
}

@mixin transitions() {
  transition: all 0.3s ease;
}

@mixin pageSize() {
  min-height: 100vh;
  width: auto;
}


@media screen and (min-width: 1px) {
  // .App {
  //   text-align: center;
  //   @include pageSize();
  //   width: 100vw;
  // }

}


.App__logo {
  // height: 15vmin;
  pointer-events: none;
  position: absolute;
  top: -4%;
  left: 45px;
  z-index: 1;
  width: 120px;
  // border: yellow solid 1px;
}


@media screen and (min-height: 1px) and (max-height: 400px) {
  .sj {
    font-family: 'Caveat', cursive;
    // font-size: 0.4em;
    // color: green;
    font-weight: 100;
    // height: 15vmin;
    // border: pink solid 1px;
  }

}

.sj {
  font-family: 'Caveat', cursive;
  font-size: 225%;
  font-weight: 100;
  // border: pink solid 1px;
}


@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1}
}

.App__header {
  background-color: #131315;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
  
  .title, .App-link, .App__logo, .nav__button, .see_work {
    z-index: 1;
    @include fadeInAnimate();
  }

  .title {
    // border: solid pink 1px;
    width: 80%;
    letter-spacing: $letterspacing / 1.3;
    line-height: 1.2;
    
    :first-child {
      font-size: 1em;
      margin-bottom: 0;
    }

    :nth-child(2) {
      margin-top: 0;
      font-size: 85%;
    }
  }

  .aboutMeTop {
    position: absolute;
    right: 3em;
    top: 5em;
    z-index: 1;
    width: 30%;
    // border: saddlebrown solid 1px;

    p {
      font-size: 0.6em;
    }
  }

  
  .see_work {
    // border: yellow solid;
    position: absolute;
    bottom: 7%;
    // font-size: 0.9em;
    font-size: 20px;
    letter-spacing: $letterspacing / 2.3;
    color: white;
    z-index: 1;
    text-decoration: none;
    transition: all 0.3s ease;
    user-select: none;

    .arrow {
      // border: solid yellow 1px;
      width: 15%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      position: relative;
      top: 15px;


      .arrow__down {
        border-bottom: white solid 1.5px;
        transform: rotate(90deg);
        width: 25px;
        position: relative;
        top: 11px;
        right: 2.1px;

      }
  
      .arrow__square {
        width: 20px;
        height: 20px;
        border-right: white solid 2px;
        border-bottom: white solid 2px;
        transform: rotate(45deg);
      }
    }
  }
}


@keyframes App__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/* MOBILE BURGER BUTTON */
.nav__button {
    @include fadeInAnimate();
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    @include transitions();
    // border: solid white;
    // padding: 0.5em;

    .nav_toggle_bar, .nav_toggle_bar::after, .nav_toggle_bar::before {
      height: 0.4rem;
      width: 100%;
      position: absolute;
      top: 50%;
      background: white;
      content: '';
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      @include transitions();
      border-radius: 2px;
    }
    .nav_toggle_bar { margin-top: 0; }
    .nav_toggle_bar::before { margin-top: 0.8rem; left: 0; }
    .nav_toggle_bar::after { margin-top: -0.8rem; left: 0; }
}

// .nav_toggle_bar.expanded { background: transparent; }
.nav__button.expanded .nav_toggle_bar { background: transparent; }
.nav__button.expanded .nav_toggle_bar::after, .nav__button.expanded .nav_toggle_bar::before {
    background: white;
    margin-top: 0;
  }

.nav__button.expanded .nav_toggle_bar::after {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  @include transitions();
}
  
.nav__button.expanded .nav_toggle_bar::before {
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  @include transitions();
}






@keyframes fadeIn {
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}


/* MOBILE BURGER MENU */
.nav__menu {
  @include fadeInAnimate();
  background: hsla(0, 0%, 25%, 0.8);
  box-shadow: -15px 15px 3px rgba(0,0,0,0.5);
  border-radius: 4%;
  // height: 16em;
  // border: orange 1px solid;
  width: 100vw;
  transform: translateX(-0%) translateY(-200vh) scale(0, 0);
  transition: transform 450ms cubic-bezier(.5, 0, .5, 1);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .menu__items {
    // border: orchid 1px solid;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    position: relative;
    left: 0em;
    bottom: 0em;
    
    a {
      text-decoration: none;
      list-style: none;
      color: white;
    }
    
    li {
      // border: solid yellow 1px;
      // width: calc(100% + 1.5em);
      // text-align: center;
      padding: 0.6em 2em;

      @include transitions();

    }
  }
}

.menu__expanded {
  transform: translateX(0%) translateY(-0%) scale(1, 1);
  position: fixed;
  top: 0;
}


.animateItems {
  color: red;
  animation: fadeIn 0.3s ease 2s 1 normal;
}
































/* ========================================== */
/* ========================================== */
/* MEDIA QUERIES DESKTOP */
/* ========================================== */
/* ========================================== */



@media screen and (min-width: 1025px) {
  .App {
    @include pageSize();
  }


  .title {
    // border: solid pink 1px;
    margin-left: -0em;
    width: 85%;
    letter-spacing: $letterspacing;
    line-height: 1.2;
    
    :first-child {
      font-size: 48px;
      margin-bottom: 2px;
    }
    
    :nth-child(2) {
      margin-top: 0;
      font-size: 64px;
    }
  }


  .see_work {
    // border: yellow solid;
    position: absolute;
    bottom: 7%;
    font-size: 0.65em;
    letter-spacing: $letterspacing / 2.3;
    color: white;
    z-index: 1;
    text-decoration: none;
    transition: all 0.3s ease;

    .arrow {
      // border: solid yellow 1px;
      width: 15%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      position: relative;
      top: 15px;

      .arrow__down {
        border-bottom: white solid 1.5px;
        transform: rotate(90deg);
        width: 25px;
        position: relative;
        top: 11px;
        right: 2.1px

      }
  
      .arrow__square {
        width: 20px;
        height: 20px;
        border-right: white solid 2px;
        border-bottom: white solid 2px;
        transform: rotate(45deg);
      }
    }

    &:hover {
      opacity: 0.5;
    }
  }



/* DESKTOP BURGER BUTTON */
.nav__button {
  @include fadeInAnimate();
  width: 50px;
  height: 50px;
  position: fixed;
  right: 60px;
  top: 50px;
  z-index: 3;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  @include transitions();
  // border: solid white;
  // padding: 0.5em;

  &:hover {
    opacity: 0.6;
    text-shadow: 2px 2px 4px #000000;
  }

  .nav_toggle_bar, .nav_toggle_bar::after, .nav_toggle_bar::before {
    height: 0.4rem;
    width: 100%;
    position: absolute;
    top: 50%;
    background: white;
    content: '';
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    @include transitions();
    border-radius: 2px;
  }
  .nav_toggle_bar { margin-top: 0; }
  .nav_toggle_bar::before { margin-top: 0.8rem; left: 0; }
  .nav_toggle_bar::after { margin-top: -0.8rem; left: 0; }
}

// .nav_toggle_bar.expanded { background: transparent; }
.nav__button.expanded .nav_toggle_bar { background: transparent; }
.nav__button.expanded .nav_toggle_bar::after, .nav__button.expanded .nav_toggle_bar::before {
  background: white;
  margin-top: 0;
}

.nav__button.expanded .nav_toggle_bar::after {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  @include transitions();
}

.nav__button.expanded .nav_toggle_bar::before {
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  @include transitions();
}

  
/* DESKTOP BURGER MENU */
  .nav__menu {
    @include fadeInAnimate();
    background: hsla(0, 0%, 25%, 0.8);
    box-shadow: -15px 15px 3px rgba(0,0,0,0.5);
    border-radius: 100%;
    height: 100vh;
    width: 100vh;
    transform: translateX(150%) translateY(-115%) scale(0, 0);
    transition: transform 450ms cubic-bezier(.5, 0, .5, 1);
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .menu__items {
      color: white;
      font-size: 3.9vh;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      position: relative;
      left: -4em;
      top: 1em;

      a {
        text-decoration: none;
        list-style: none;
        color: white;
      }

      li {
        
        width: calc(100% + 1.5em);
        text-align: left;
        padding: 0.8em;
        font-weight: light;
        // border: solid 1px;
        @include transitions();

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }

  .menu__expanded {
    transform: translateX(300px) translateY(-200px) scale(1, 1);
    position: fixed;
  }

  @media screen and (min-height: 1px) and (max-height: 700px) {
  
    .nav__menu {
      margin-top: 6em;
      margin-right: 15em;
      height: 100%;
    }
  }
  
}


